.crypto-swap-exchange {
  background: var(--secondary-gradient);
  border: 0.0625rem solid var(--border-secondary);
  border-radius: 3rem;
  width: 3rem;
  height: 3rem;
  margin: 1rem auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

.crypto-swap-exchange:focus {
  outline: none;
  border-color: var(--border-hover);
  box-shadow: 0 0 0 0.125rem var(--shadow-secondary);
}

.crypto-swap-exchange__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.crypto-swap-exchange__icon * {
  stroke: var(--pure-white) !important;
}

.crypto-swap-exchange:hover {
  transform: rotate(180deg) scale(1.1);
  box-shadow: 0 0.5rem 1.5625rem var(--shadow-secondary-hover);
  border: none;
}
